<div class="home">
  <div class="welcome">
    <h1>Welcome to SeatYourself!</h1>
    <p>
      It's nom time! <%= link_to "Find an awesome restaurant", restaurants_path %> and chow down!
    </p>
  </div>
  <div class="users">
    <p>Want to book a reservation?</p>
    <%= link_to "Sign Up!", new_user_path %> or <%= link_to "Log in", new_session_path %>
  </div>
</div>
