<h1> Here are all your reservations:</h1>

<% @restaurant_reservations.each do |reservation| %>

<p>
  Seats: <%= reservation.seats %><br/>
  Time: <%= reservation.datetime %><br/>
  Restaurant: <%= reservation.restaurant.name%><br/>
  Restaurant ID: <%= reservation.restaurant_id %><br/>
</p>

<% end %>
