<h3> Existing Reservations</h3>

<% @reservations.each do |reservation| %>

    <% if reservation.datetime > DateTime.now %>
    <p>
      <b>Name:</b> <%= reservation.restaurant.name %><br/>
      <b>Seats:</b> <%= reservation.seats %><br/>
      <b>Time:</b> <%= reservation.datetime %><br/>
    </p>
    <% end %>
<% end %>
