// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  background: url("http://butterpr.ca/wp-content/uploads/KK-blog-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.welcome,
.users {
  background: rgba(200,200,200,0.8);
  padding: 1em;
  margin: 1em auto;
  font-size: 1.5em;
  text-align: center;
  max-width: 400px;
  a,
  a:hover,
  a:active,
  a:visited {
    color: 633974;
  }
}
.users {
  a,
  a:hover,
  a:active,
  a:visited {
    background: #633974;
    color: #fff;
    padding: 0.5em;
  }
}
