// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_container {
  margin: 25px 0;
  overflow: hidden;
  display: block;
  clear: both;

  img {
    max-width: 42%;
    height: auto;
    float: left;
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}

.restaurant_info {
  float: right;
  width: 55%;
}
