// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_reservation {
  width: 50%;
  background-color: white;
  padding: 1px 15px;
  margin: 10px 0;
}

hr {
  margin: 20px 0;
}
