
<h1> <%= @category.cuisine %> Cuisine</h1>

<div "restaurants_by_cuisine">
    <ul><%= @categories.restaurants.each do |restaurant| %>
      <li> <%= link_to restaurant.name, restaurant %> </li>
      <% end %>
    </ul>
